@import url(./variables.css);
/*styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--background);
  font-family: "Montserrat";
  min-width: 400px;
  max-width: 700px;
  margin-top: clamp(18vh, 50px, 100px);
  margin-inline: auto;
}
.lightDark {
  display: inline-block;
}

.lightDark .fa-solid {
  color: var(--lg-col);
  font-size: 30px;
}
.lightDark:hover {
  cursor: pointer;
}
#no-display {
  display: none;
}
#themes {
  background: var(--theme-bg-col);
  color: var(--theme-bt-text);
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  transform: scale(0.8);
}
#themes .fa-solid {
  margin-left: 10px;
}
.nav-themes {
  display: none;
  margin-top: -6px;
  cursor: pointer;
  position: absolute;
  top: 70px;
  right: 23px;
}
.nav-themes li {
  padding: 5px 10px;
  list-style: none;
  width: 110px;
  border-radius: 25px;
}

.teal {
  background: #2b6777;
  color: #fff;
}
.violet {
  background: #5e2b3d;
  color: #fff;
}
.peach {
  background: #f6c453;
  color: #000;
}
h1 {
  text-align: center;
  color: var(--h1-col);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
#inputCont button {
  background: var(--sub-bt-col);
  color: var(--sub-bt-txt);
}

#inputCont button,
#unDo,
#themes {
  display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  padding-block: 8px;
  padding-inline: 14px;
  margin-block: 10px;
  margin-inline: auto;
  border: none;
  border-radius: 25px;
  transition: all 0.5s;
}

#unDo {
  text-align: right;
  transform: scale(0.7);
  margin-left: auto;
  margin-right: 0;
  color: var(--undo-bt-txt);
  background: var(--undo-bt-bg);
}
#inputCont button:hover {
  cursor: pointer;
  transform: translateY(5px);
}
#unDo:hover {
  cursor: pointer;
}
#toDoEntry {
  display: block;
  margin: 0 auto;
  font-size: 1.3rem;
  font-weight: 100;
  border: 1.5px solid var(--input-border);
  border-radius: 25px;
  padding: 7px;
  padding-inline-start: 14px;
  width: 70%;
  outline: none;
}
.error {
  color: red;
  text-align: center;
  display: none;
  transition: all 0.5s;
}

ul#out {
  height: auto;
}
.taskStyles {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  background: var(--todo-bg);
  color: var(--todo-col);
  padding: 10px;
  margin-block: 3px;
  display: flex;
  justify-content: space-between;
}

.taskStyles .fa-regular {
  color: var(--checked-icon);
}
.taskStyles input {
  outline: none;
  border: 1px solid black;
  max-width: 400px;
  background: #ffff;
  border-radius: 25px;
  padding-inline-start: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: inherit;
}
.taskStyles input:focus {
  width: 300px;
}
.taskStyles:first-child {
  margin-top: 0;
}
#done {
  text-decoration: line-through;
  font-weight: 400;
}
button.cancel {
  color: white;
  background: var(--del-bt-bg);
  border: none;
  width: 20px;
  height: 20px;
  display: grid;
  place-items: center;
  border-radius: 100%;
  transform: rotate(-45deg);
  transition: all 0.5s;
}
.cancel:hover {
  cursor: pointer;
  background: var(--del-bt-hover);
}
.fa-regular:hover {
  cursor: pointer;
}
#noDeletedMessage {
  text-align: right;
}
/* #doneTrash {
  display: flex;
}
#doneTrash .fa-regular {
  display: inline-block;
  display: grid;
  place-items: center;
  border-radius: 100%;
  font-size: 2rem;
  height: 170px;
  width: 170px;
  background: teal;
  margin-inline: auto;
}
.fa-regular span {
  margin-top: -20px;
  font-size: 1rem;
} */

@media screen and (max-width: 720px) {
  .lightDark{
    margin-left: 10px;
  }
  body{
    width: 90vw;
  }
}

@media screen and (max-width: 450px) {
  .taskStyles {
    margin: 5px auto;
    width: 90%;
    justify-content: space-between;
    gap: 5px;
  } 
} 